Agente de voz/Agente de Voz Telegram.json
{
  "name": "Agente de Voz Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9f283222-0a05-4997-be57-78ede58bdbbe",
      "name": "Telegram Trigger",
      "webhookId": "b6c0bff2-a94a-4cfa-9b2e-6105c421cede",
      "credentials": {
        "telegramApi": {
          "id": "qExdBvHVWBuIONPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Calma Vettin...",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "615824c0-84cb-4b3c-9554-ef8d2e281626",
      "name": "Send a text message",
      "webhookId": "ba06372d-5704-4247-82a5-dd9c669b9e6d",
      "credentials": {
        "telegramApi": {
          "id": "qExdBvHVWBuIONPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.reply_to_message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "b5380792-91c4-48d3-a3ec-17cdcfa1c412"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8485f3c6-6020-47b6-8b61-15b8595c60d4",
                    "leftValue": "={{ $json.result.reply_to_message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "a72c19b0-f4c3-46bd-8155-fab8f8867a59",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.result.reply_to_message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        96
      ],
      "id": "93e54779-a741-437a-9a38-e8d0923848ed",
      "name": "Get a file",
      "webhookId": "01186042-9360-4ea1-be1b-0329759e9f22",
      "credentials": {
        "telegramApi": {
          "id": "qExdBvHVWBuIONPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        832,
        96
      ],
      "id": "a7b77f3e-d844-463b-9b69-adde6619c1d6",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "on6OnQLiNAV0vfct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $json.text }}",
        "options": {
          "systemMessage": "você é um rapper negrão chamado King Von"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        -32
      ],
      "id": "d23bbe06-c5a7-454d-88c9-e5bf569fc88d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        272
      ],
      "id": "7404d280-e597-4f57-a87b-f36e751f7c34",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "on6OnQLiNAV0vfct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "b5380792-91c4-48d3-a3ec-17cdcfa1c412"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8485f3c6-6020-47b6-8b61-15b8595c60d4",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1392,
        -32
      ],
      "id": "8d4731fc-dc93-46cd-98c5-9ed178ce543a",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1600,
        64
      ],
      "id": "922bfe70-b928-4a30-8eab-a72d02466002",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "on6OnQLiNAV0vfct",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        64
      ],
      "id": "7bc696ff-061a-42d0-9990-8e766108aecb",
      "name": "Send an audio file",
      "webhookId": "456f1104-2e6e-43a1-907f-52845a71efcc",
      "credentials": {
        "telegramApi": {
          "id": "qExdBvHVWBuIONPM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        -128
      ],
      "id": "9257aeb1-c156-4f9c-bb0e-89b4b2d6cfb2",
      "name": "Send a text message1",
      "webhookId": "30dcd34b-dbf3-4490-a61c-556e67e92ed8",
      "credentials": {
        "telegramApi": {
          "id": "qExdBvHVWBuIONPM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3059c793-a0a7-4f3a-8d8a-be330e110881",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "972d0b123d81026a5494528e9f6b01b79fdc1cf21a8099648455e9f9ba4b754c"
  },
  "id": "quvzsSbDTkz175rL",
  "tags": []
}
